.container {
  width: 70%;
  margin: auto;
  text-align: center;
  min-height: 90vh;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #000204;
}


h1 {
  margin: 20px;
  font-family: 'Black Ops One', 'Lobster', cursive;
  /*text-shadow: 5px 0 #ccc;*/
  font-size: 8rem;
  color: #28dbd5;
  width: 90%;
  animation-name: colorr;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

h2 {
  font-family: 'Lobster', 'cursive';
  font-size: 3rem;
color: #28dbd5;
width: 90%;

}

p {
  font-size: 2rem;
  color: #28dbd5;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
  transition: ease-in-out;
}

footer>p{
  min-height: 10vh;
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.btnd {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

hr {
  width: 100%;
}

#btn {
  padding: 5px;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border: none;
  background-color: #28dbd5;
  font-family: 'poppins', sans-serif;
  font-weight: bold;
}

#btn:hover {
  letter-spacing: 0.2rem;
}


@keyframes colorr {
  0% {
    color: aqua;
  }

  25% {
    color: aquamarine;
  }

  50% {
    color: rgb(10, 149, 149);
  }

  75% {
    color: #28dbd5;
  }
}





@media (max-width: 725px) {
  .container {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-around;
  }
  footer {
    min-height: 10vh;
  }
  h1 {
    font-size: 3rem;
    font-weight: lighter;
  }

  h2 {
    font-size: 2rem;
  }

  .dice>p {
    font-size: 1.6rem;
  }

  img {
    width: 50%;
  }
  footer>p {
    font-size: 16px;
  }
}
